<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-GB">
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
        <title>rtorrent on rails</title>
        <link rel="icon" type="image/png" href="favicon.png">
        <%= stylesheet_link_tag "styles" %>
        <%= javascript_include_tag 'jquery' %>
        <%= javascript_include_tag 'jquery-ui' %>
        <%= javascript_include_tag 'jrails' %>
        <%= javascript_include_tag 'jquery.contextmenu.js' %>
        <%= javascript_include_tag 'jquery.tablesorter.js' %>
        <%= javascript_include_tag 'jquery.tablednd.js' %>
        <%= javascript_include_tag 'jquery.flydom.js' %>
        <%= javascript_include_tag 'index.js' %>
        <%= javascript_include_tag 'poller.js' %>
    </head>
    <body>
        <div id="header">
            <div id="button-bar" style="float: right">
                <img id="add-button" src="images/add.png" />
                <input id="add-input" type="text" size="40" />
            </div>
            <h1 id="status"></h1>
        </div>
        <div id="main">
            <div class="contextMenu" id="torrentContext">
                <ul>
                    <li id="open"><img src="images/open.png" /> Open</li>
                    <li id="start"><img src="images/start.png" /> Start</li>
                    <li id="stop"><img src="images/stop.png" /> Stop</li>
                    <li id="delete"><img src="images/delete.png" /> Delete</li>
                </ul>
            </div>
            <table id="torrentsTable" class="main">
                <thead>
                    <tr class="head">
                        <th></th>
                        <th>filename</th>
                        <th>progress</th>
                        <th>size</th>
                        <th>left</th>
                        <!--<th>downloaded</th>-->
                        <!--<th>uploaded</th>-->
                        <th>down</th>
                        <th>up</th>
                        <th>ratio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="footer">
            <div class="column">
                <div class="section">
                    <h3>FOLDERS</h3>
                    <ul>
                        <%- for folder in @folders -%>
                            <li style="list-style-image: url(images/icons/folder.png)"> <a href=""><%= folder -%></a></li>
                        <%- end -%>
                    </ul>
                </div>
            </div>
            <div class="column" style="width: 50%" id='feed'>
                <div class="section">
                    <h3>RSS FEED</h3>
                    <ul id="feed">
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
