<% content_for :head do %>
    <%= stylesheet_link_tag "info" %>
    <%= stylesheet_link_tag 'smoothness/jquery-ui-1.7.1.custom.css' %>
    <%= javascript_include_tag 'jquery/jquery.hotkeys' %>
    <%= javascript_include_tag 'jquery/jquery.doubletap' %>
    <%= javascript_include_tag 'jquery/jquery.jnotifica' %>
    <%= javascript_include_tag 'index' %>
    <%= javascript_include_tag 'poll' %>
    <%= javascript_include_tag 'poller' %>
<% end %>

<% content_for :header do %>
    <div id="buttonBar">
        <%= image_tag "add.png", :id => "addButton" %>
    </div>
    <h1 id="status"></h1>
<% end %>

<% content_for :main do %>
    <div id="spinner">
        <%= image_tag "spinner.gif" %>
    </div>
    <div id="wrapper" class="o90">
        <div id="content">
            <div id="torrents"></div>
            <div class="menu">
                <ul>
                    <li class="state"><%= image_tag "start.png" %></li>
                    <li class="remove"><%= image_tag "delete.png" %></li>
                </ul>
            </div>
        </div>
    </div>
<% end %>
