<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-GB">
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
        <title>rtorrent on rails 0.1</title>
        <link rel="icon" type="image/png" href="favicon.png">
        <%= stylesheet_link_tag "styles" %>
        <%= javascript_include_tag 'jquery/jquery' %>
        <%= javascript_include_tag 'jquery/jquery-ui' %>
        <%= javascript_include_tag 'jquery/jrails' %>
        <%= javascript_include_tag 'application' %>
        <%= yield :head %>
    </head>
    <body>
        <div id="header">
            <%= yield :header %>
        </div>
        <div id="main">
            <%= yield :main %>
        </div>
        <div id="footer">
            <%= yield :footer %>
        </div>
    </body>
</html>
